<h1 class="text-center">Administrador Tareas</h1>
<div class="row justify-content-center">
  <div class="col col-sm-6 col-md-4">
    <div class="list-group">
      <a href="/createTask" class="list-group-item list-group-item-action list-group-item-success">Crear Tarea </a>
      <a href="/completeTask" class="list-group-item list-group-item-action list-group-item-success">Completar Tarea</a>
      <a href="/deleteTask" class="list-group-item list-group-item-action list-group-item-success">Borrar Tarea</a>
      <a href="/listTasks" target="_blank" class="list-group-item list-group-item-action list-group-item-success">Listas Tareas</a>
    </div>
  </div>
</div>
  